/*main.css*/
@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.menu-active > div {
  @apply bg-accent text-background-light dark:bg-accent-dark dark:text-background-light;
}


.glow-effect {
  background-color: rgba(255, 223, 0, 0.8); 
  box-shadow: 
    0 0 30px 10px rgba(255, 223, 0, 0.8), 
    0 0 60px 20px rgba(255, 200, 0, 0.6), 
    0 0 100px 40px rgba(255, 180, 0, 0.4); 
  border-radius: 50%; 
  transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out; /* Smooth transitions */
}
